workflow.text
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "22e925fa-1ddc-49ce-9467-d143ecfcc58b",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        80
      ],
      "id": "5c3a3562-7bb5-4b87-a43f-9c6555062b6d",
      "name": "Webhook",
      "webhookId": "22e925fa-1ddc-49ce-9467-d143ecfcc58b"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        288,
        240
      ],
      "id": "ffc78018-59db-4747-9023-ab3ad7206824",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "=You are a Language asistant.\nyour work is to guide the user.\n\nAction (what you have to do): {{ $json.body.action }}\nTone: {{ $json.body.tone }}\ninput language: {{ $json.body.inputLang }}\ninput text: {{ $json.body.text }}\ntranslate to: {{ $json.body.targetLang }}\n\ngive the only translation, Nothing else.!! "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -288,
        240
      ],
      "id": "70e0bf67-501d-4673-8995-ae08bfe1c5f8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        464
      ],
      "id": "c1d730dd-aab3-4a6d-a42a-0fd343e57cfa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SIjVwGvuvvREOF5g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "376246af-d477-4cbb-bfdd-4aa31d4eb116",
              "name": "data",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        240
      ],
      "id": "2c9cbc6b-8d0b-4e04-aeb1-7032ea1b698f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.file.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        -64
      ],
      "id": "f962b627-937f-452b-831c-1031085ae7d3",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f11d6f7-ef06-4d40-8122-213b30629e33",
              "leftValue": "=base64",
              "rightValue": "=base64",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        16
      ],
      "id": "7886e3b9-6c47-4dac-862a-a4b94339024d",
      "name": "If"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e2d2e399b8b4ed817f402d5e1055838fad188858d57813e4f68ac4ce0a10810"
  }
}