n8n_workflow/wrk2.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audio-echo",
        "responseMode": "responseNode",
        "options": {
          "binaryData": false
        }
      },
      "id": "b6f3364e-78f9-44ec-b0cd-4823f6beeef7",
      "name": "input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-384, 496],
      "webhookId": "audio-echo"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.file.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [416, 496],
      "id": "f4ae3f0a-fe19-4b8d-a812-be336155a098",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=System Prompt for n8n AI Agent\nYou are an AI-Based Language Assistant.\n\nYour Tasks:\nTranslate\nGrammar Correction\nSummarize\nExplain\nRephrase\n\nOutput Rules:\nAlways perform the action exactly as requested.\nRespond in the requested tone/style: Neutral, Formal, Casual, Professional, or Friendly.\nUse the input language when specified.\nDeliver the result in the target language chosen by the user.\nReturn output only in JSON format with one field: \"result\".\nDo not include explanations, notes, or formatting outside JSON.\n\nVariables from n8n:\nAction: {{ $json.body.action }}\nTone/Style: {{ $json.body.tone }}\nInput Language: {{ $json.body.inputLang }}\nTarget Language: {{ $json.body.targetLang }}\nText to Process: {{ $json.body.text }}\n\nExpected Output Format:\n\n{\n  \"result\": \"processed text here\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [64, 144],
      "id": "08e8a8f0-95ae-4bb5-a99c-db321bb93e68",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [80, 368],
      "id": "75a1b9c8-9735-48e6-a765-ec54abf33569",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xUqiHXCXAkKzmihJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"result\": \"processed text here\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [208, 368],
      "id": "4124a254-cb9c-400e-935d-9508d48e3a56",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output.result }}",
        "options": {}
      },
      "id": "95db6149-00d4-4dae-8891-b24b35c3d0cf",
      "name": "Respond With JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [416, 256]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dbi20wt1c/video/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ 'data:audio/mpeg;base64,' + $json.base64Data }}"
            },
            {
              "name": "upload_preset",
              "value": "n8n_unsigned"
            },
            {
              "name": "resource_type",
              "value": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [864, 496],
      "id": "eebb86de-1333-4ca0-b3be-8e79e6f881f0",
      "name": "Upload Audio to Cloudinary"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst inputItems = $input.all();\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const item = inputItems[i];\n  \n  if (item.binary && Object.keys(item.binary).length > 0) {\n    const binaryKey = Object.keys(item.binary)[0];\n    const binaryData = item.binary[binaryKey];\n    \n    const base64Data = binaryData.data;\n    const mimeType = binaryData.mimeType || 'audio/ogg';\n    const fileName = binaryData.fileName || `audio_${i + 1}.mp3`;\n    \n    const dataUrl = `data:${mimeType};base64,${base64Data}`;\n    \n    items.push({\n      json: {\n        index: i,\n        base64Data: base64Data,\n        mimeType: mimeType,\n        fileName: fileName,\n        dataUrl: dataUrl\n      }\n    });\n  }\n}\n\nif (items.length === 0) {\n  throw new Error('No binary images found in input');\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 496],
      "id": "7c103cc7-ccec-43cd-882a-e034f657080b",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "9d011498d08f41b7af187061499554f8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"audio_url\": \"{{ $json.url }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1088, 496],
      "id": "cddb4914-ba52-417c-a1ee-ff3bc29b20bf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "9d011498d08f41b7af187061499554f8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1536, 496],
      "id": "89f65aac-2123-44be-8c21-fe75e7e82416",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1312, 496],
      "id": "96f221ce-30bb-4dab-9118-28aa6680405c",
      "name": "Wait1",
      "webhookId": "21602d1c-3b78-4e74-b707-85cec2657b88"
    },
    {
      "parameters": {
        "content": "## Audio to it's transcription.",
        "height": 320,
        "width": 2800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [320, 448],
      "typeVersion": 1,
      "id": "87e6008f-0f09-406d-bace-9cbd2da0357c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c032127-1829-4fc8-b602-df9a6532860f",
              "leftValue": "={{ $json.body.section }}",
              "rightValue": "Text Assist",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-160, 496],
      "id": "df69982b-c093-4c74-ae9d-9d3a9bc2c7d9",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bf8aa53-3536-402d-8960-dcc5f54a65c5",
              "leftValue": "={{ $json.body.section }}",
              "rightValue": "Voice Assistant",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [128, 640],
      "id": "30a9a46e-2a9f-4beb-980a-f7bcf8d8dbdd",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "85bf4589-75b5-4a56-b31f-81a98439aa78",
      "name": "Respond With JSON4",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2912, 496]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a Professional Language Teaching Assistant.\n\nYour primary role:\n- Act like a friendly teacher for the user’s language (detected from their input).\n- Help the user with grammar, vocabulary, spelling, and pronunciation.\n- Correct mistakes clearly and explain the corrections with examples.\n- Adapt to the language used in the user’s input.\n- Encourage the learner and provide supportive tips to improve.\n\nSecondary role:\n- If the user asks something unrelated to language (general knowledge, casual chat, friendly talk, etc.), \n  respond normally and helpfully, like a polite assistant.\n\nUser’s query will be given as:\n\"{{ $json.text }}\"\n\nAlways reply in a way that is:\n- Accurate\n- Easy to understand\n- Short\n- Supportive and encouraging\n- Either as a language teacher or as a friendly assistant, depending on the query"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1760, 400],
      "id": "5dfb6a87-67c8-404a-9165-f4b3d8a9e88b",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1840, 624],
      "id": "a331a907-dcd8-4cdd-a0fb-7028c9ea1701",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "xUqiHXCXAkKzmihJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chunkSize = 180;\n\n// Regex: up to 180 characters ending at a word boundary\nconst regex = new RegExp(`(.|\\\\s){1,${chunkSize}}(?=\\\\s|$)`, 'g');\n\nreturn items.flatMap(item => {\n  const inputText = item.json.text || item.json.output || \"\";\n  const chunks = inputText.match(regex) || [];\n  return chunks.map(chunk => ({\n    json: { chunk: chunk.trim() }\n  }));\n});\n"
      },
      "name": "Split Text into Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2176, 496],
      "id": "8a16be20-a2d2-4020-b4a8-51ba538bb7fe"
    },
    {
      "parameters": {
        "url": "https://translate.google.com/translate_tts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ie",
              "value": "UTF-8"
            },
            {
              "name": "q",
              "value": "={{ $json.chunk }}"
            },
            {
              "name": "tl",
              "value": "en"
            },
            {
              "name": "client",
              "value": "tw-ob"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "output.mp3"
            }
          }
        }
      },
      "name": "Generate Voice Audio3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2464, 496],
      "id": "25ccb1f0-577f-406e-81ab-c5581edf32b9"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\nasync function run() {\n  let combinedBuffer = Buffer.alloc(0);\n\n  for (let index = 0; index < items.length; index++) {\n    const item = items[index];\n\n    // Get available binary keys\n    const binaryKeys = Object.keys(item.binary || {});\n    if (binaryKeys.length === 0) {\n      throw new Error(`No binary data found on item ${index}`);\n    }\n    const key = binaryKeys[0];\n\n    // Await buffer\n    const buffer = await this.helpers.getBinaryDataBuffer(index, key);\n\n    // Concatenate\n    combinedBuffer = Buffer.concat([combinedBuffer, buffer]);\n  }\n\n  // Convert combined buffer to base64\n  const base64String = combinedBuffer.toString('base64');\n\n  return [\n    {\n      json: {\n        file: {\n          data: base64String,\n          mimeType: 'audio/mpeg',\n          fileName: 'merged.mp3'\n        }\n      }\n    }\n  ];\n}\n\nreturn run();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2688, 496],
      "id": "d9ae208f-09a6-46ba-a221-01d8bb3c9b41",
      "name": "Merge Audio Files3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "722a5263-983b-42d5-a74e-c009f183936a",
              "leftValue": "={{ $json.body.section }}",
              "rightValue": "Practice Mode",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [416, 800],
      "id": "efea8942-8115-42c0-9b26-b72c2554c386",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.file.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [640, 800],
      "id": "33953a1d-53f5-4354-828e-58340f967ca6",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dbi20wt1c/video/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ 'data:audio/mpeg;base64,' + $json.base64Data }}"
            },
            {
              "name": "upload_preset",
              "value": "n8n_unsigned"
            },
            {
              "name": "resource_type",
              "value": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1088, 800],
      "id": "0ebaff60-06d2-4596-8459-2d2e0df5007b",
      "name": "Upload Audio to Cloudinary1"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst inputItems = $input.all();\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const item = inputItems[i];\n  \n  if (item.binary && Object.keys(item.binary).length > 0) {\n    const binaryKey = Object.keys(item.binary)[0];\n    const binaryData = item.binary[binaryKey];\n    \n    const base64Data = binaryData.data;\n    const mimeType = binaryData.mimeType || 'audio/ogg';\n    const fileName = binaryData.fileName || `audio_${i + 1}.mp3`;\n    \n    const dataUrl = `data:${mimeType};base64,${base64Data}`;\n    \n    items.push({\n      json: {\n        index: i,\n        base64Data: base64Data,\n        mimeType: mimeType,\n        fileName: fileName,\n        dataUrl: dataUrl\n      }\n    });\n  }\n}\n\nif (items.length === 0) {\n  throw new Error('No binary images found in input');\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, 800],
      "id": "d2dd4768-2528-4da1-bfe7-79ad65fbb14a",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "9d011498d08f41b7af187061499554f8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"audio_url\": \"{{ $json.url }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1312, 800],
      "id": "312cf191-ebe4-4450-899e-2800bcbfb01a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "9d011498d08f41b7af187061499554f8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1824, 800],
      "id": "963f1222-be88-4b71-bd51-7c8ca4db7c1d",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1536, 800],
      "id": "00e19c71-4145-46ae-8274-f994d1a7e181",
      "name": "Wait",
      "webhookId": "21602d1c-3b78-4e74-b707-85cec2657b88"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Text to pronounce: {{ $('input').item.json.body.text }}\npronounced: {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Language Pronunciation Evaluation Assistant.  \nYour task is to compare the text that the user was supposed to pronounce with the text that was actually spoken (transcribed from audio).  \n\nInputs:  \n- Text to pronounce: {{ $('input').item.json.body.text }}  \n- Pronounced (transcribed): {{ $json.text }}  \n\nInstructions:  \n1. Compare both texts word by word.  \n2. Highlight words that were missed, added, or mispronounced.  \n3. Give a short feedback summary (e.g., \"Good attempt, but a few missing words\" or \"Accurate pronunciation overall\").  \n4. Provide a **score out of 10** for pronunciation accuracy.  \n5. Be concise and clear so the user understands their mistakes easily.  \n\nOutput Format (JSON):  \n{\n  \"target_text\": \"...\",\n  \"pronounced_text\": \"...\",\n  \"accuracy\": \"...%\",\n  \"mistakes\": [\"list of incorrect or missing words\"],\n  \"feedback\": \"short summary\",\n  \"score\": \"X/10\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2112, 800],
      "id": "52516f3d-3407-4ab4-b067-0fa00181a1dd",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2192, 1024],
      "id": "a02b4e4f-4915-47af-95c9-ddf57bcc3241",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "xUqiHXCXAkKzmihJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "0327319d-db5c-4e0a-bcc6-f24ff96adb33",
      "name": "Respond With JSON1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2496, 800]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"target_text\": \"string\",\n  \"pronounced_text\": \"string\",\n  \"accuracy\": \"string (percentage, e.g. 100%)\",\n  \"mistakes\": [\n    {\n      \"expected\": \"string\",\n      \"said\": \"string\",\n      \"feedback\": \"string\"\n    }\n  ],\n  \"feedback\": \"string\",\n  \"score\": \"string (e.g. 10/10)\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [2288, 1008],
      "id": "21a9ad96-08be-400e-9683-1b1ce2a9242f",
      "name": "Structured Output Parser1"
    }
  ],
  "connections": {
    "input": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond With JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio to Cloudinary": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Upload Audio to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Split Text into Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Text into Chunks": {
      "main": [
        [
          {
            "node": "Generate Voice Audio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice Audio3": {
      "main": [
        [
          {
            "node": "Merge Audio Files3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Audio Files3": {
      "main": [
        [
          {
            "node": "Respond With JSON4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio to Cloudinary1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Upload Audio to Cloudinary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Respond With JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85d654668467bc0ed236f47eee6ebb0b44158149011a78588b73ee4251a92643"
  }
}
